.u_truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u_centrilize {
  left: 50%;
  transform: translateX(-50%);
  /* top: 50%;
  transform: translate(-50%, -50%); */
}