.u_truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u_centrilize {
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  position: relative;
}

.u_no_margin {
  margin: 0;
}

.u_fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.u_hide {
  display: none;
}

.u_show {
  display: block;
}