.quiz {
  margin-bottom: 1rem;
  > :not(:last-child) {
    margin-bottom: 1rem;
  }
  &__question {
    height: 30rem;
    background-image: url("assets/who_is_this_pokemon_bg.png");
    background-size: 100% 100%;
  }
  &__tips {
    
  }
  &-options {
    > * {
      cursor: pointer;
    }
    &__skip {
      text-align: center;
    }
    &__answer {
      textarea:focus, input:focus{
        outline: none;
      }
    }
    &__input {
      margin-right: .5rem;
      width: 10rem;
      height: 1.65rem;
      padding-bottom: 4px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-color: rgba(0, 0, 0, 0.7);
      border-width: 1px;
      font-size: 1rem;
      padding-left: 8px;
      padding-right: 8px;
    }
    &__button {
      vertical-align: middle;
      background-color: rgba(0,255,255,.7);
      border: 1px solid rgba(black, .5);
      padding: 5px 15px;
      font-size: .85rem;
      text-decoration: none;
      box-shadow: 0 10px 20px, rgba(0,0,0,.2);
      border-radius: 10px;
      transition: all .2s;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

.pokedex {
  height: 10rem;
  background-color: black;
}